/*.leaflet-container{background-color:#c5e8ff;}*/
html,body{
	height: 100%;
	background-color: #FBFBF3;
}

p, h1, h2
{
	text-align: justify;
	margin-bottom: 8px;
	margin-top: 8px;
	color: #13182C;
}
a:visited, a:active, a:link{
  text-decoration: none;
}
#graph{
	height: 75%;
	min-height: 400px;
}
iframe{
	width: 100%;
	height: 100%;
}

/*#map{
	height: 100%;
	width: 100%;
}*/